.section-history-university {
    padding: 100px 0;
}

.section-history-university .list-history-university .item-history-university .image-history-university img {
    width: 100%;
    object-fit: cover;
}

.section-history-university .list-history-university .item-history-university .content-history-university {
    margin-top: 30px;
}

.section-history-university .list-history-university .item-history-university .content-history-university .title-history-university {
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
}

.section-history-university .list-history-university .item-history-university .content-history-university .title-history-university h6 {
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section-history-university .list-history-university .item-history-university .content-history-university .title-history-university strong {
    font-size: 24px;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
}


.section-history-university .list-history-university .item-history-university .content-history-university p {
    opacity: 0.8;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 767px) {
    .section-history-university {
        padding: 60px 0;
    }

    .section-history-university .list-history-university .item-history-university .content-history-university .title-history-university strong {
        font-size: 35px;
    }
}

@media (max-width: 575px) {
    .section-history-university .list-history-university .item-history-university .content-history-university .title-history-university strong {
        font-size: 28px;
    }
}