.section-educator {
    padding: 100px 0;
}

.section-educator .intro-educator {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 100px;
}

.section-educator .section-title p {
    font-size: 16px;
    opacity: 0.8;
}

.section-educator .video-image {
    position: relative;
}

.section-educator .video-image .video-box {
    position: relative;
}

.section-educator .video-image .video-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.section-educator .video-image .video-box .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.section-educator .video-image .video-box .play-button i {
    font-size: 20px;
}

.section-educator .educator-content {
    padding-left: 100px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.section-educator .educator-content .educator-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.section-educator .educator-content .number-educator-warp .item-fun-fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.section-educator .educator-content .number-educator-warp .item-fun-fact h4 {
    flex-grow: 1;
    min-height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

@media (max-width: 991px) {
    .section-educator {
        padding: 80px 0;
    }

    .section-educator .intro-educator {
        padding-right: 0;
        gap: 0;
    }

    .section-educator .educator-content {
        padding-left: 0;
        margin-top: 40px;
    }

    .section-educator .educator-content .number-educator-warp .item-fun-fact {
        gap: 40;
    }
}

@media (max-width: 767px) {
    .section-educator {
        padding: 50px 0;
    }

    .section-educator .video-image .video-box .play-button {
        width: 60px;
        height: 60px;
    }

    .section-educator .video-image .video-box .play-button i {
        font-size: 16px;
    }
}

@media (max-width: 575px) {

    .section-educator .video-image .video-box .play-button {
        width: 50px;
        height: 50px;
    }
}