:root {
    --primary-color: #9D2235;
    --red-color: #641320;
    --white-color: #fff;
    --black-color: #000;
    --font-theme: "Inter", sans-serif;
    --font-title: "Prata", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-theme);
}

/* 
body,
html {
    overflow-x: hidden;
    font-family: var(--font-theme);
} */

ul {
    margin: 0px;
    padding: 0px;
}

.back-to-top {
    display: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 1000;
}

.back-to-top i {
    font-size: 20px;
}

@media (max-width: 767px) {
    .back-to-top {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
    }

    .back-to-top i {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Prata", serif; */
    margin-top: 0px;
    font-style: normal;
    text-transform: normal;
}

/* fun fact */
.item-fun-fact .title-fun-fact {
    font-size: 20px;
    font-weight: 700;
    color: var(--red-color);
}

.item-fun-fact strong {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

/* section title */
.section-title {
    margin-bottom: 40px;
    font-family: var(--font-title);
}

.section-title .support-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: underline var(--red-color) 2px;
    color: var(--red-color);
    font-family: var(--font-title);

}

.section-title .main-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: var(--font-title);
}

.section-title .main-title span {
    text-decoration: underline var(--red-color) 4px;
    color: var(--red-color);
    font-weight: 600;
    font-family: var(--font-title);
}

@media (max-width: 991px) {
    .section-title .main-title {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .section-title .main-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .section-title .support-title {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .section-title .main-title {
        font-size: 26px;
    }

    .section-title .support-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

/* list news */
.list-news .item-news {
    border-bottom: 1px solid #E4E4E4;
    position: relative;
    transition: all 0.5s ease;
    list-style: none;
    display: flex;
}

.list-news .item-news:hover {
    border-bottom: 1px solid var(--red-color);
}

.list-news .item-news:last-child {
    border-bottom: none;
}

.list-news .item-news .news-content h4 a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-news .item-news .news-content h4 a:hover {
    color: var(--primary-color);
}

.list-news .item-news .news-content p {
    opacity: 0.8;
}

/* KHUNG CHỨA  */
.list-news .item-news .image-hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.95);
    right: 0;
    width: max-content;
    max-width: 250px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 50;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* SHOW */
.list-news .item-news.show .image-hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) scale(1);
}

.list-news .item-news .image-hover img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
}

@media(max-width: 767px) {
    .list-news .item-news .image-hover {
        max-width: 150px;
    }
}