.section-6 {
    padding: 100px 0;
}

.section-6 .list-news .item-news .news-box {
    -webkit-text-stroke: 1px var(--red-color);
    -webkit-text-fill-color: transparent;
    padding: 20px 0;
    opacity: 0.4;
    transition: all 0.3s ease;
    height: 100%;

}

.section-6 .list-news .item-news:hover .news-box {
    opacity: 1;
}

.section-6 .list-news .item-news .news-box strong {
    font-size: 64px;
    font-weight: 700;
}

.section-6 .list-news .item-news .news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-6 .list-news .item-news .news-content h4 a {
    font-size: 32px;
    font-weight: 700;
}

@media (max-width: 991px) {

    .section-6 {
        padding: 80px 0;
    }

    .section-6 .list-news .item-news .news-box strong {
        font-size: 52px;
    }

    .section-6 .list-news .item-news .news-content h4 a {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .section-6 {
        padding: 60px 0;
    }

    .section-6 .list-news .item-news {
        display: flex;
        flex-direction: column;
    }

    .section-6 .list-news .item-news .news-box strong {
        font-size: 40px;
    }

    .section-6 .list-news .item-news .news-content h4 a {
        font-size: 25px;
    }

    .section-6 .list-news .item-news .news-content p {
        font-size: 15px;
    }
}

@media (max-width: 575px) {

    .section-6 {
        padding: 40px 0;
    }

    .section-6 .list-news .item-news {
        gap: 15px !important;
        align-items: flex-start !important;
    }

    .section-6 .list-news .item-news .news-box {
        padding: 5px 0;
    }

    .section-6 .list-news .item-news .news-box strong {
        font-size: 32px;
    }

    .section-6 .list-news .item-news .news-content h4 a {
        font-size: 20px;
        line-height: 1.4;
    }

    .section-6 .list-news .item-news .news-content p {
        font-size: 14px;
        margin-top: 5px;
    }
}