.section-9 {
    position: relative;
}

.section-9 .section-apply {
    position: relative;
    background-color: #fff;
    z-index: 10;
    margin-bottom: -100px;
    padding: 20px;
    border: 1px solid #E4E4E4;
}

.section-9 .section-apply .apply-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-9 .section-apply .apply-content {
    padding: 20px 30px;
}

.section-9 .section-apply .apply-content .section-title p {
    opacity: 0.8;
}

.section-9 .section-apply .apply-content .send-mail {
    display: flex;
    align-items: stretch;
    margin-top: 20px;
    gap: 0;
}

.section-9 .section-apply .apply-content .send-mail input {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    outline: none;
    box-sizing: border-box;
    height: 45px;
    background-color: #F5F5F5;
}

.section-9 .section-apply .apply-content .send-mail button {
    padding: 0 20px;
    border: none;
    background-color: var(--red-color);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    height: 45px;
}

.section-9 .section-apply .apply-content .send-mail button i {
    transform: rotate(-45deg);
}

@media (max-width: 575px) {
    .section-9 .section-apply {
        padding: 10px;
    }

    .section-9 .section-apply .apply-content .section-title p {
        font-size: 14px;
    }

    .section-9 .section-apply .apply-content .send-mail input {
        width: 60%;
    }

    .section-9 .section-apply .apply-content .send-mail button {
        width: 40%;
        padding: 10px 0;
    }
}